include README.md
include LICENSE
include .editorconfig
include .flake8
include .pylintrc
include .pre-commit-config.yaml
include .cursorrules
include requirements.txt
include requirements-dev.txt
recursive-include docs *
recursive-include .cursor *.mdc
recursive-include .antigravity *.mdc
recursive-include examples *.py *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
